.button {
  border: 1px solid #393939;
  background: transparent;
  padding: 0.5em 2em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.3s;
  cursor: pointer;
  color: #393939;

  &:hover {
    color: #ff99cf;
    border: 1px solid #ff99cf;
    transition: border 0.3s;
  }

  &:disabled {
    opacity: 0.5;
  }
}
