.button {
  background: #dbff99;
  padding: 0.5em 2em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.3s;
  cursor: pointer;
  color: black;
  margin-top: 2rem;

  &:hover {
    background: #dbff99;
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  &:disabled {
    opacity: 0.5;
  }
}
