.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem 0;

  & h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  &Content {
    max-width: 800px;

    & audio {
      width: 100%;
      max-width: 100%;
    }

    & pre {
      max-height: 450px;
      max-width: 100%;
      overflow: auto;
      overflow-y: scroll;
      overflow-x: auto;
      margin: 3rem 0;
      padding: 1.5rem;
      font-family: Consolas, monospace;
      background: rgb(250, 250, 250);
      border: 1px solid rgb(230, 230, 230);
    }
  }

  // consistent margin throughout page
  & h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  // consistent margin throughout page
  & figure {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  // Swaps spacing to margin so that everything neatly collapses
  & ul {
    padding: 0;
    margin: 1.5rem 3rem;

    & li {
      line-height: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .contentWrapper {
    padding-bottom: 0;
    margin: 1.5rem;

    &Content {
      padding: 0;
      max-width: 100%;

      & ul {
        padding: 0;
        margin: 1.5rem 1rem;
      }

      & pre {
        display: block;
        max-height: 450px;
        margin: 3rem 0;
        padding: 1.5rem;
        overflow-y: scroll;
        overflow-x: scroll;
        font-family: Consolas, monospace;
        background: rgb(250, 250, 250);
        border: 1px solid rgb(230, 230, 230);
        white-space: pre-line;
        box-sizing: border-box;

        & span {
          display: block;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
