.article {
  position: relative;
  padding: 2rem 0;
  max-width: 1300px;
  box-sizing: border-box;

  &Back {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    color: black;
    text-decoration: none;
    border-bottom: solid black 2px;
  }

  &BackText {
    padding-left: 0.25rem;
  }
}
