.screenEgg {
  position: fixed;
  background: #fcff99;
  display: inline-block;
  padding: 1rem;
  z-index: 99;
  cursor: pointer;

  &Right {
    padding-left: 2rem;
    transform: translate(calc(100% - 1.9rem), 0);
    top: 10%;
    right: 0;
    transition: transform 0.5s ease-out;
  }

  &Left {
    padding-right: 1.9rem;
    transform: translate(calc(-100% + 1.9rem), 0);
    bottom: 50%;
    left: 0;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    padding: 1rem 0.25rem;
    transform: translate(0, 0);
    background: #dbff99;
  }
}

@media only screen and (max-width: 800px) {
  .screenEgg {
    padding: 0.5rem;
    display: block;
    &Right,
    &Left {
      transition: none;
      transform: none;
      bottom: 0;
      right: 0;
    }

    ul {
      display: flex;
      gap: 1rem;
      justify-content: center;

      li {
        margin-bottom: 0;
      }
    }
  }
}
