@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body,
button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

html,
body {
  background: #FBFBFB;
  background: #f4f5f0;
}

button {
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 1150) {
  html,
  body,
  button {
    font-size: 16px;
  }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

p:last-of-type {
  margin-bottom: 0px;
}

a {
  color: #FF99CF;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #101820;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-bottom: 0.5rem;
  }
}

h2 {
  font-size: 1.9rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-family: "stolzl", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 0.15rem;
  font-weight: 400;
  font-family: "stolzl", sans-serif;
  font-style: normal;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
  h4 {
    font-size: 1.025rem;
  }
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 0px;
}
h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 0px;
}

small {
  font-size: 0.9rem;
}

img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.header-video {
  max-width: 100%;
  height: auto;
}

.svp {
  display: none !important;
  }
  
  @media only screen and (max-width: 800px) {
    .svp {
      display: block !important;
    }
  
    .lvp {
      display: none !important;
    }
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }