.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 0 0rem;
  }
}
