.post {
  &Content {
    display: flex;
    flex-direction: column;

    &ImageContainer {
      position: relative;
      padding: 0rem;

      &Image {
        display: block;
      }
    }

    &Details {
      padding-top: 0.75rem;
      display: flex;
      flex-direction: column;
      position: relative;

      &Title {
        margin-bottom: 0rem;
        font-weight: 400;
        color: #252525;
      }

      &Description {
        margin: 0.5rem 0;
        color: #101820;
      }

      &Date {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: #374049;
      }
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
}

@media only screen and (max-width: 800px) {
  .post {
    &Content {
      display: grid;
      grid-template-columns: 0.25fr 1fr;
      column-gap: 1.25rem;

      &ImageContainer {
        display: flex;

        & img {
          object-fit: contain;
        }
      }

      &Details {
        padding-top: 0;

        &Title {
          font-size: 1.025rem;
        }

        &Description {
          display: none;
        }
      }
    }
  }
}
