.section {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;

  &Standard {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &TwoColumn {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    &TwoColumn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
