.footer {
  bottom: 0;
  border-top: #323232 solid 1px;
  border-bottom: #323232 solid 1px;
  width: 100%;
  max-width: 1300px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
